<div class="youtube">
  <%= form_with url: search_url do |form| %>
    <%= form.combobox :search, searchables_path,
                      name_when_new: :search, mobile_at: "0px" %>
  <% end %>
</div>
